* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-text: 'Palanquin', sans-serif;

  font-size: 62.5%;

  --fs-body: 1.6rem;
  --fs-heading: 4rem;
  --fs-text: 2rem;
  --lh-body: 3.4rem;
  --lh-text: 1.5rem;

  --hue: 250;
  --bg-color: hsl(233, 100%, 97%);
  --bg-header-color: hsl(218, 17%, 62%);
  --bg-title-color: hsl(275, 18%, 79%);
  --bg-cards-color: hsl(312, 91%, 96%);
  
  --fc-color-title:  hsl(0, 0%, 100%);
  --fc-color-text: hsl(274, 84%, 12%);
  --fc-color-cards: hsl(232, 17%, 35%);
}

body {
  font-size: var(--fs-body);
  width: 100vw;
  height: 100vh;

  background-color: var(--bg-color);
}

.page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
  margin: 0 auto;
  padding-bottom: 6rem;
}

header {
  background-color: var(--bg-header-color);
  padding-bottom: 3rem; 
  width: 100%;
}

header .ice-logo {
  display: grid;
  place-items: center;
  padding: 3.2rem 0;
}

header h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: var(--lh-body);
  color: var(--fc-color-title);

  width: 100%;
}

header .title {
  background-color: var(--bg-title-color);
  height: 5rem;

  text-align: center;
  align-items: center;

  padding: 0.8rem 0;
  display: flex;
}

header .text p {
  display: none;
}

main {
  display: grid;
  margin-inline: auto;

  width: fit-content;
  
  padding: 1.4rem 0 0;
}

main .text p {
  font-weight: 400;

  text-align: center;
  
  
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  color: var(--fc-color-text);

  margin: 0 auto;
  max-width: 32rem;
  margin-bottom: 6.5rem; 
}

main .cards {
  font-family: var(--ff-heading);

  display: grid;
  place-items: center;
  gap: 3.6rem;
  padding-inline: 3.2rem;
}

main .ice-creams {
  max-width: 32rem;
  position: relative;

  transition: all 500ms;
}

main .ice-creams img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;

  object-fit: cover;
  filter: brightness(1);
  
  animation: slip 900ms;
}

main .ice-creams:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

main .ice-creams span {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  background-color: var(--bg-cards-color);
  height: 3.5rem;
  color: var(--fc-color-cards);
  
  border-radius: 2rem;  
  font-size: var(--ff-text);
  
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 2.2rem;

  animation: rising 900ms 450ms backwards;
}

footer { 
  display: none;
}


@keyframes rising {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slip {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width:800px) {
  main .cards {
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0;
  }
}
@media (min-height:1000px) {
  main .primary .cards {
    margin-top: 6.4rem;
  }
}
/* @media (min-width:1000px) {
  main .primary .cards {
    margin: 0 auto;
    
  }
} */
@media (min-width:1200px) {
   .page {
    margin: 0;
   }
 }

@media (min-width:1430px) {
  :root {
    font-size: 62.5%;
    --ff-texting: 'Open Sans', sans-serif;
    --ff-footer: 'Roboto', sans-serif;
    
    --fs-heading: 4.8rem;
    --fs-text: 2.4rem;
    --lh-body: 3.4rem;
    --lh-text: 2rem;
    --fc-color-white: hsla(0, 0%, 100%, 1);
  }

  header {
    min-width: 37.7rem;
    grid-area: header;
    height: 100%;
  }

  .page {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-template-areas: "header main";
    height: 100%;

    width: 100%;
    padding: 0;
  }

  header .title {
    font-size: var(--fs-heading);
    line-height: var(--lh-body);
    color: var(--fc-color-white);
    margin-bottom: 3.2rem;
    height: 7rem;
  }

  header .text p {
    color: var(--fc-color-white);
    display: block;

    font-family: var(--ff-texting);
    font-size: var(--ff-text);
    line-height: var(--lh-text) ;

    padding-inline: 5rem;
    text-align: center;
  }

  main .primary .cards{
    display: grid;
    height: 80rem;
    padding-inline: 2.7rem;

    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "A B C"
                         "D B F"
                         "D E F";
  }

  main .A {
    grid-area: A;
  }

  main .B {
    grid-area: D;
  }
  
  main .C {
    grid-area: B;
  }

  main .D {
    grid-area: C;
  }

  main .E {
    grid-area: E;
  }
  
  main .F {
    grid-area: F;
  }
  
  main .text p {
    display: none;
  }

  main .ice-creams {
    height: 100%;
    width: 100%;
  }

 } 

footer {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  margin-top: 6rem;

  font-size: 1.4rem;
  line-height: 2.8rem;

  font-family: var(--ff-texting);
  color: var(--fc-color-cards);
}

footer a {
  color: var(--fc-color-cards);
  text-decoration: none;
  font-weight: bold;
}